.footer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    background: $footer-background;
    height: $footer-height;
    padding: 0 calc((100vw - #{$pc-content-width}) / 2);
}

@media(max-width: $mobile-content-width) {
    .footer {
        grid-template-columns: 1fr;
        padding: 0 calc((100vw - #{$mobile-content-width}) / 2);
    }
}