.about {
    display: grid;
    row-gap: 12px;
    width: 50%;
    margin: 0 auto;
    align-content: flex-start;
    justify-items: center;

    h1, p {
        text-align: center;
    }

    img {
        margin-top: 14px;
        width: auto;
        height: 230px;
    }
}

@media(max-width: $mobile-content-width) {
    .about {
        width: 100%;
    }
}