$header-height: 60px;
$footer-height: 220px;

$pc-content-width: 1280px;
$mobile-content-width: 767px;

$h1-size: 40px;
$h2-size: 36px;
$h3-size: 24px;
$p-size: 18px;
$a-size: 18px;
$p-small-size: 14px;

$box-shadow: 0px 2px 4px 1px rgb(0 0 0 / 25%);
$box-shadow-hovered: 0px 2px 4px 3px rgb(0 0 0 / 25%);